<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0" />
  <block>
    <% path= $path(1) || "1"; %>
    <title>{{ $path(1) + '-' + path }}</title>
  </block>
</head>

<body>
  <block src="/include/_nav.html"></block>
  <block>
    <% var path= $path(2) || "1"; %>
    <div class="conatiner">
      <div class="lazypage" :data-sort="$path(1)*10+path">
        <style>
          .conatiner [data-path="/{{$path(1)+'/'+path}}"] {
            background: <%="rgb("+ Math.floor(Math.random() * 256) + ","+ Math.floor(Math.random() * 256) + ","+ Math.floor(Math.random() * 256) + ")"%>;
          }
        </style>
        <script>
          console.log("{{ $path(1)+" - "+path }}");
        </script>
        {{ $path(1) + '-' + path }}
      </div>
    </div>
  </block>
</body>

</html>